<form [formGroup]="loginForm" (ngSubmit)="onSubmit()" class="field has-addons">
  <div class="control" id="avatar">
    <figure id="avatar-figure" class="image is-128x128 is-square"
        [style.filter]="loadingAvatar ? 'blur(3px)' : 'none'">
      <div style="overflow: hidden;">
        <a (click)="openAvatarInput()">
          <img class="is-rounded" src="{{ avatar }}" (load)="loadingAvatar=false"/>
        </a>
      </div>
    </figure>
    <mat-spinner diameter="64" id="avatar-spinner" *ngIf="loadingAvatar"></mat-spinner>
    <a (click)="getRandomAvatar()">
      <mat-icon id="avatar-reload" fontIcon="refresh"></mat-icon>
    </a>
  </div>
  <div id="input-area" class="is-expanded">
    <span>
      <input
        class="control input is-small"
        placeholder="Nickname"
        formControlName="user"
      />
    </span>
    <textarea
      class="textarea"
      style="resize: none"
      type="text"
      rows="3"
      placeholder="Write your message here..."
      formControlName="text"
    ></textarea>
  </div>
  <p id="send-button">
    <button class="button is-rounded" type="submit">Send</button>
  </p>
</form>
